@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@700&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Righteous&family=Roboto:wght@400;700&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@500&family=Righteous&family=Roboto:wght@400;700&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding: 12px 17px;
    background-color: #545588;
}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 24px;
}

.welcome {
    margin-top: 50px;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    color: #666666;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-right: 5px;   
    border: none;
    border-radius: 50px;
    outline: inherit;
    background-color: #dcdcdc;
    font-size: 30px;
    color: #939393;
}

 

.input-login {
    margin-top: 50px;
    box-shadow: 0 0 0 0;
    border: none;
    outline: none;
    background: none;
    text-transform: none;
    line-height: 40px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #838383;
  
}

.input-style {
    flex: 1;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

.button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 50px;
    border-radius: 50px;
    background-color: black;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.container-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: #838383;
    letter-spacing: 0.2px;
}

.content {
    z-index: 10
}



.circle-1 {
    position: absolute;
    z-index: 1;
    background-color: 
    #e1f9db; 
    border-radius: 50%;
}
  
.circle-2 {
    position: absolute;
    z-index: 1;
    background-color: 
    #e1f9db; 
    border-radius: 50%;
  }

   @media (max-width: 379px) {
    .circle-1 {
        width: 70vw;
        height: 70vw;
        bottom: 60vw;
        left: -20vw;
      }
      
    .circle-2 {
        width: 120vw;
        height: 120vw;
        bottom: -30vw;
        left: -29vw;
      }
  }

  @media (min-width: 452px) and (max-width: 768px) {
    .circle-1 {
        width: 70vw;
        height: 70vw;
        bottom: 45vw;
        left: -20vw;
      }
      
    .circle-2 {
        width: 120vw;
        height: 120vw;
        bottom: -40vw;
        left: -29vw;
      }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .circle-1 {
        width: 70vw;
        height: 70vw;
        bottom: 40vw;
        left: -20vw;
      }
      
    .circle-2 {
        width: 120vw;
        height: 120vw;
        bottom: -45vw;
        left: -25vw;
      }
  }
  

  @media (min-width: 1025px) {
    
    .container {
        padding: 10px 50px;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 24px;
    }

    form {
        gap: 30px;
        margin-top: 40px;
    }
  

    .circle-1 {
        width: 20vw;
        height: 20vw;
        bottom: 15vw;
        left: -4vw;
      }
      
    .circle-2 {
        width: 40vw;
        height: 40vw;
        bottom: -15vw;
        left: -10vw;
      }
  }